* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.square {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.square2 {
  width: 200px;
  height: 200px;
  background-color: green;
}
